{% extends 'base.html' %}

{% block title %}Buscar Películas{% endblock %}

{% block content %}
    <h2>Buscar Películas</h2>

    <!-- Mostrar mensajes de éxito o error -->
    {% if messages %}
    {% for message in messages %}
        <div id="message" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <form method="GET">
        <div class="mb-3">
            <label for="q_titulo" class="form-label">Título:</label>
            <input type="text" name="q_titulo" id="q_titulo" 
                   placeholder="Buscar por título" 
                   class="form-control"
                   value="{{ request.GET.q_titulo }}">
        </div>
        <div class="mb-3">
            <label for="q_anio" class="form-label">Año:</label>
            <input type="number" name="q_anio" id="q_anio" 
                   placeholder="Buscar por año" 
                   class="form-control"
                   value="{{ request.GET.q_anio }}">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
        <a href="{% url 'mi_app:pelicula-list' %}" class="btn btn-secondary ms-3">Listado Completo</a>
    </form>

    <h3>Resultados:</h3>
    <ul>
        {% for pelicula in peliculas %}
            <li>
                {{ pelicula.titulo }} ({{ pelicula.anio }}) 
                <a href="{% url 'mi_app:pelicula-detail' pelicula.pk %}">Ver más</a> |
                <a href="{% url 'mi_app:pelicula-update' pelicula.pk %}">Editar</a> |
                <a href="{% url 'mi_app:pelicula-delete' pelicula.pk %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No se encontraron resultados</li>
        {% endfor %}
    </ul>

    <!-- Script para ocultar los mensajes después de 2 segundos -->
    <script>
        setTimeout(function() {
            var messages = document.querySelectorAll('#message');
            messages.forEach(function (message) {
                message.style.display = 'none';
            });
        }, 2000);
    </script>
{% endblock %}
