{% extends 'base.html' %}

{% block title %}Crear Película{% endblock %}

{% block content %}

{% if success %}
    <div id="success-message" class="alert alert-success" role="alert">
        Película creada con éxito.
    </div>
{% endif %}

    <h2>Crear Nueva Película</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="titulo" class="form-label">Título:</label>
            {{ form.titulo }}
        </div>
        <div class="mb-3">
            <label for="genero" class="form-label">Género:</label>
            {{ form.genero }}
        </div>
        <div class="mb-3">
            <label for="anio" class="form-label">Año:</label>
            {{ form.anio }} <!-- A pesar de que la variable en el código es "anio", puedes mostrar "Año" aquí -->
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    

    <!-- Script para desaparecer el mensaje de éxito después de 2 segundos -->
    <script>
        setTimeout(function() {
            var successMessage = document.getElementById('success-message');
            if (successMessage) {
                successMessage.style.display = 'none';
            }
        }, 2000); // 2000 milisegundos = 2 segundos
    </script>
{% endblock %}
