{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase mb-0">Bienvenido a Mi Sitio de Películas</h1>
            <p class="masthead-subheading font-weight-light mb-0">Explora, crea y busca tus películas favoritas</p>
        </div>
    </header>

<!-- Mostrar mensajes de éxito -->
{% if messages %}
    {% for message in messages %}
        <div id="success-message" class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<!-- Script para ocultar el mensaje después de 2 segundos -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var successMessage = document.getElementById('success-message');
        if (successMessage) {
            setTimeout(function() {
                successMessage.style.display = 'none';
            }, 2000);
        }
    });
</script>
{% endblock %}
