{% extends 'base.html' %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<h2>Editando perfil de {{ user.username }}</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    
    <!-- Contenedor con d-flex para alinear los botones -->
    <div class="d-flex gap-2 mt-3">
        <button type="submit" class="btn btn-success">Guardar Cambios</button>
        <a href="{% url 'login:cambiar_password' %}" class="btn btn-warning">Cambiar Contraseña</a>
    </div>
</form>
{% endblock %}
