{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<h2>Iniciar Sesión</h2>

<!-- Mostrar mensajes de éxito -->
{% if messages %}
    {% for message in messages %}
        <div id="success-message" class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>

<!-- Script para ocultar el mensaje después de 2 segundos -->
<script>
    setTimeout(function() {
        var successMessage = document.getElementById('success-message');
        if (successMessage) {
            successMessage.style.display = 'none';
        }
    }, 2000); // 2000 milisegundos = 2 segundos
</script>
{% endblock %}
